body{
	margin: 0;
	padding: 0;
}
/*HEADER*/
.logo{
	height: 100%;
}
/*CONTENT*/
#pageContainer{
	margin: 0 auto;
}
/*FOOTER*/
#featuredpostslist{
	list-style: none;
}

.featured-posts-title{
	color: #FFFFFF;
	border-bottom: solid 1px #FFFFFF;
}

#footer{
	background-color: #1D405E;
}

#featuredpostslist_wrapper{
	background-color: #5BA3DF;
}

.credit-title
{
	color: #FFFFFF;
	margin-top: 20px;
	text-align: center;
}

.footer-box {
	border: 1px white solid;
	border-radius: 10px;
	margin: 10px 20px;
}

.footer-box h3, p{
	margin: 10px 0 0 0 !important;
	color: #FFFFFF;
}

.footer-box a.button{
	padding: 5px 10px;
}

.footer-box-small h4{
	color: #FFFFFF;
}

.footer-box-small{
	border: 1px white solid;
	border-radius: 10px;
	margin: 10px 20px;
}

.footer-icon{
	width: 60px;
	height: 60px;
	display: block;
	margin: 10px auto;
}

#credit_region{
	border-bottom: 5px solid white;
}

@font-face {
    font-family: "FontAwesome";
	src: url('/static/fonts/fontawesome-webfont.otf');
    src: url('/static/fonts/fontawesome-webfont.otf') format('otf'), 
		 url('/static/fonts/fontawesome-webfont.eot') format('eot'),
         url('/static/fonts/fontawesome-webfont.woff') format('woff'),
         url('/static/fonts/fontawesome-webfont.woff2') format('woff2'),
		 url('/static/fonts/fontawesome-webfont.ttf') format('ttf'),
         url('/static/fonts/fontawesome-webfont.svg') format('svg');
}

.social-icon-region{
	margin-bottom: -30px;
}

.social-icon-wrapper{
	position: relative;
	top: -30px;
	margin: 0 auto;
	width: 140px;
	height: 20px;
}

.font-icon-footer{
	  display: inline-block;
	  font: normal normal normal 14px/1 FontAwesome;
	  font-size: inherit;
	  text-rendering: auto;
	  -webkit-font-smoothing: antialiased;
	  -moz-osx-font-smoothing: grayscale;  
	  transform: translate(0, 0);
}

.list-social-icons i {
	  color: #F1FFF7;
	  width: 30px;
	  height: 30px;
	  border-radius: 25px;
	  background: #20AA76;
	  display: inline-block;
	  text-align: center;
	  line-height: 30px;
	  
	  -webkit-transition: all 0.2s ease-out;
	  transition: all 0.2s ease-out;
	}
	
.list-social-icons i:hover {
	  color: #20AA76;
	  width: 35px;
	  height: 35px;
	  border-radius: 25px;
	  background: #000000;
	  display: inline-block;
	  text-align: center;
	  line-height: 35px;
	  margin: -3px 0 0 -2px;
	  
	  -webkit-transition: all 0.5s ease-out;
	  transition: all 0.5s ease-out;
	}

.icon-fb:before {
	content: "\f09a";
}

.icon-tw:before {
	content: "\f099";
}

.icon-ln:before {
	content: "\f0e1";	
}

.icon-gp:before {
	content: "\f0d5";	
}

.no-list-style{
	list-style: none;
}

.hyperlink{
	text-decoration: underline;
}