.blogs-title{
	text-align: center;
	background-color: #33546F;
	padding: 10px 0;
}

.blogs-title > h3{
	color: #FFFFFF;
	margin: 0;
}

li.blog-item{
	border-top: solid 1px black;
}

#blogslist{
	list-style: none;
}

#blogslist > li:first-child {
    border-top: none;
}

.blog-title-orbit{
	color: white;
}

.orbit-image{
	height: 300px;
	overflow: hidden;
}

.orbit-image > img{
	height: 100%;
	display: initial !important;
}

.orbit-description{
	height: 300px;
	overflow: hidden;
}

.orbit-blog-caption{
	margin-bottom: 0;
}

.blog-title-orbit{
	margin-bottom: 0;
}

.button-readthis{
	margin-bottom: 0;
	padding: 10px;
}

