li.blog-item{
	border-top: solid 1px black;
}

#blogslist{
	list-style: none;
}

#blogslist > li:first-child {
    border-top: none;
}

.blog-title-orbit{
	color: white;
}

.orbit-image{
	height: 300px;
	overflow: hidden;
}

.orbit-image > img{
	height: 100%;
	display: initial !important;
}

.orbit-description{
	height: 300px;
	overflow: hidden;
}

