body{
	margin: 0;
	padding: 0;
	overflow: auto;
}

#pageContainer{
	background: url("/static/images/home_background.jpg") no-repeat top center; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	  height: 100%;
}

@media screen and (max-width: 640px){
	#pageContainer{
		
	}
}

#content_header
{
	margin: 20px 50px;
	background-color: rgba(73, 118, 119, 0.6);
	border-radius: 5px;
}

#content_header_small{
	margin: 15px 0 0 0;
	padding: 0 20px 0 15px;
}

.img-head{
	width: 50%;
	min-width: 350px;	
}

.postfix-round{
	padding-top: 20px;
}

#button_search{
	font-size: 19px;
}

.main{
	margin: 20px auto;	  
	display: table;
	background-color: rgba(73, 118, 119, 0.6);
}

@font-face {
    font-family: "FontAwesome";
	src: url('/static/fonts/fontawesome-webfont.otf');
    src: url('/static/fonts/fontawesome-webfont.otf') format('otf'), 
		 url('/static/fonts/fontawesome-webfont.eot') format('eot'),
         url('/static/fonts/fontawesome-webfont.woff') format('woff'),
         url('/static/fonts/fontawesome-webfont.woff2') format('woff2'),
		 url('/static/fonts/fontawesome-webfont.ttf') format('ttf'),
         url('/static/fonts/fontawesome-webfont.svg') format('svg');
}

.list-components{
	width: 100%;
}

.list-components h3 {
	  padding-top: 25px;
	  color: #fff;
	  font-size: 22px;		
	  margin-left: 20px;
	}
	
.list-components i {
	  color: #F1FFF7;
	  margin-right: 10px;
	  width: 40px;
	  height: 40px;
	  border-radius: 25px;
	  background: #20AA76;
	  display: inline-block;
	  text-align: center;
	  line-height: 40px;
	  
	  -webkit-transition: all 0.5s ease-out;
	  transition: all 0.5s ease-out;
	}
	
.list-components i:hover {
	-webkit-transform:rotate(360deg);
	-moz-transform:rotate(360deg);
	-o-transform:rotate(360deg);
	color: #ED9C1E;
}
	
@media screen and (min-width: 768px){
	.list-components i {
	  top: 20px;
	  width: 80px;
	  height: 80px;	  
	  border-radius: 40px;
	  font-size: 46px;
	  display: block;
	  line-height: 80px;
	  margin: 0 auto;
	}
	
	.list-components h3 {
	  font-size: 28px;
	  margin-top: 0;	
	  text-align: center;		
	}
}

.font-icon {
	  display: inline-block;
	  font: normal normal normal 14px/1 FontAwesome;
	  font-size: inherit;
	  text-rendering: auto;
	  -webkit-font-smoothing: antialiased;
	  -moz-osx-font-smoothing: grayscale;  
	  transform: translate(0, 0);
}

.icon-machine-learning:before {
	content: "\f19d";
}

.icon-project:before {
	content: "\f12e";
}

.icon-blog:before {
	content: "\f032";
}

.icon-web-development:before {
	content: "\f0ac";
}