#projectslist{
	list-style: none;
}

#featured_projects{
	background-color: rgba(34, 80, 118, 0.6);
	border-radius: 10px;
	margin: 10px auto;
	padding: 20px 10px;
}

.orbit-image-region{
	
}

.orbit-image{
	border-radius: 5px;
}

.orbit-title-region{
	text-align: left;
}

.orbit-caption{
	
}

.project-title-orbit{
	
}