{% extends "base.html" %}
{% block extrahead %}
	{% load staticfiles %}
	<link type="text/css" rel="Stylesheet" href="{% static 'css/index.css' %}"/>
	<link type="text/css" rel="Stylesheet" href="{% static 'css/cloud.css' %}"/>
{% endblock %}
{% block extrabodyhead %}
	<div>
		<h1 class="left">Mai's personal website</h1>
		<form action="/search/" method="get">
			<div class="row">
				<div class="search-box large-4 columns show-for-large-up">
					<div class="row collapse postfix-round">
						<div class="large-10 columns">
						  <input type="text" name="q" placeholder="Search for..."/>
						</div>
						<div class="large-2 columns">
						  <input id="button_search" type="submit" value="&#128269;" class="postfix button"/>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
{% endblock %}
{% block content %}
	<div id="clouds" class="hide-for-small-only">
		<div class="cloud x1"></div>
		<div class="cloud x2"></div>
		<div class="cloud x3"></div>
		<div class="cloud x4"></div>
		<div class="cloud x5"></div>
	</div>
	<div id="content">
		<div id="content_header" class="text-center hide-for-small-only">
			<img class="img-head" src="{% static '/static/images/home_header.png' %}"/>
		</div>
		<div id="content_header_small" class="text-center show-for-small-only">
			<img src="{% static '/static/images/home_header_small.png' %}"/>
		</div>
		<div class="main row">
			<h1 style="text-align:center; color: white;">UNDER CONSTRUCTIONS</h1>
			<ul class="list-components small-block-grid-2 medium-block-grid-4">				
				<li><a href="/blogs/"><h3><i class="font-icon icon-blog"></i>My blogs</h3></a></li>
				<li><a href="/projects/"><h3><i class="font-icon icon-project"></i>My projects</h3></a></li>
				<li><a href="/blog/topic/machine-learning.html"><h3><i class="font-icon icon-machine-learning"></i>Machine Learning</h3></a></li>
				<li><a href="/blog/topic/web-development.html"><h3><i class="font-icon icon-web-development"></i>Web Development</h3></a></li>
			</ul>
		</div>		
	</div>	
{% endblock %}