{% extends "base.html" %}
{% block extrahead %}
	{% load staticfiles %}
	<link type="text/css" rel="Stylesheet" href="{% static 'css/projects.css' %}"/>
{% endblock %}
{% block content %}
	<div id="projectslist-container" class="small-12 medium-8 large-9 columns">
		<ul id="projectslist">
			{% for project in projects %}
			<li class="project-item row">
				<a href="{{project.get_absolute_url}}"><h3>{{project}}</h3></a>
				<p>{{project.description|safe}}</p>
			</li>
			{%endfor%}
		</ul>		
	</div>	
{% endblock %}