{% extends "blog-template.html" %}
{% block content %}
	<div id="blog" class="small-12 medium-8 large-9 columns">
		<h1>{{blog.title}}</h1>
		<p>{{blog.date}}</p>
		<p>{{blog.content|safe}}</p>
		<div id="disqus_thread"></div>
	</div>
{% endblock %}
{% block extrafoot %}
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'ciscer';    
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
{% endblock %}