{% extends "blog-template.html" %}
{% block extrahead %}
	{% load staticfiles %}
	<link type="text/css" rel="Stylesheet" href="{% static 'css/blog.css' %}?v=2"/>
{% endblock %}
{% block content %}
	<div id="blog" class="small-12 medium-8 large-9 columns">
		<div class="row"></div>
		<div class="blog-date-wrapper text-center left">
			<span class="date-label">Created On</span>                       
			<span class="month">{{blog.date|date:"M"}}</span>
			<span class="day">{{blog.date.day}}</span>
		</div>
		<div class="blog-title"><h1>{{blog}}</h1></div>
		<div class="blog-topic small-12 columns"><a href="{{blog.topic.get_absolute_url}}"><h3>{{blog.topic}}</h3></a></div>
		<div class="blog-content small-12 columns"><p>{{blog.content|safe}}</p></div>
		<div class="blog-tag small-12 columns"">
			<h3>Tags:</h3>
			<ul class="inline-list tags-list">
				{% for tag in blog.tag.all %}
					{% if forloop.counter|divisibleby:2 %}
						<li><a class="label radius" href="{{tag.get_absolute_url}}">{{tag}}</a></li>
					{% else %}
						<li><a class="label info radius" href="{{tag.get_absolute_url}}">{{tag}}</a></li>
					{%endif%}
				{%endfor%}				
			</ul>
		</div>
		<div id="disqus_thread"></div>		
	</div>
{% endblock %}
{% block extrafoot %}
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'ciscer';    
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
{% endblock %}