{% extends "blog-template.html" %}
{% block extrahead %}
	{% load staticfiles %}
	<link type="text/css" rel="Stylesheet" href="{% static 'css/blogs.css' %}?v=2"/>
{% endblock %}
{% block content %}	
	{% if topic %}
		<div class="blogs-title"><h3>Topic: {{topic}}</h3></div>
	{% elif tag %}
		<div class="blogs-title"><h3>Tag: {{tag}}</h3></div>
	{%endif%}	
	<div id="blogslist_container" class="small-12 medium-8 large-9 columns">
		<ul class="example-orbit" data-orbit data-options="animation:slide;
                  pause_on_hover:true;
				  resume_on_mouseout: true;
				  next_on_click: true;
                  animation_speed:1000;
				  timer_speed: 5000;
                  navigation_arrows:true;
				  variable_height: true;
				  slide_number: false;
                  bullets:false;">
		{% for blog in featured_blogs %}
		  <li>
			{% if blog.images.all|length > 0 %}
				<div class="orbit-image text-center"><img src="/{{blog.images.all|first}}" alt="slide {{forloop.counter}}" /></div>
			{% else %}
				<div class="orbit-description">{{blog.description|safe}}</div>
			{%endif%}
			<div class="orbit-caption">
			<ul class="inline-list orbit-blog-caption">
			  <li><a href="{{blog.get_absolute_url}}"><h3 class="blog-title-orbit">{{blog}}</h3></a></li>
			  <li><a class="button success round button-readthis" href="{{blog.get_absolute_url}}">Read this</a></li>
			</ul>
			</div>
		  </li>		  
		{%endfor%}
		</ul>
		<br/>
		<ul id="blogslist" class="medium-block-grid-1 large-block-grid-2">
			{% for blog in blogs %}
			<li class="blog-item" data-section-name="{{blog}}">
				<div class="blog-item-title row"><a href="{{blog.get_absolute_url}}"><h3>{{blog}}</h3></a></div>				
				<div class="blog-item-topic small-7 columns"><a href="{{blog.topic.get_absolute_url}}"><h5>Topic: {{blog.topic}}</h5></a></div>
				<div class="blog-item-date small-5 columns"><h5>{{blog.date}}</h5></div>
				<div class="blog-item-description small-12 columns"><p>{{blog.description|safe}}</p></div>
				<div class="blog-item-tag small-12 columns">
					<h5>Tag:</h5>
					<ul class="inline-list tags-list">
						{% for tag in blog.tag.all %}
							{% if forloop.counter|divisibleby:2 %}
								<li><a class="label radius" href="{{tag.get_absolute_url}}">{{tag}}</a></li>
							{% else %}
								<li><a class="label info radius" href="{{tag.get_absolute_url}}">{{tag}}</a></li>
							{%endif%}
						{%endfor%}				
					</ul>
				</div>
			</li>
			{%endfor%}
		</ul>
		<br />
		<div class="text-center">
			{% if page.has_previous %}
			<a href="/blogs/{{ page.previous_page_number }}/">&laquo;Previous Page</a>
			<span>&nbsp;&nbsp;&nbsp;</span>
			{% endif %}			
			{% if page.has_next %}
			<a href="/blogs/{{ page.next_page_number }}/">Next Page&raquo;</a>
			{% endif %}
		</div>
	</div>	
{% endblock %}
{% block extrafoot %}
<script src="{% static 'js/jquery.tiltedpage-scroll.js' %}"></script>
<script>
	$(document).ready(function(){
	  $("#blogslist").tiltedpage_scroll({
		sectionContainer: "li.blog-item",
		angle: 30,
		opacity: true,
		scale: true,
		outAnimation: true
	  });
	});
</script>
{% endblock %}
