{% extends "blog-template.html" %}
{% block blog-content %}
	<div id="blogslist" class="small-12 medium-8 large-9 columns">
		{% for blog in blogs %}
			<p><a href="{{blog.get_absolute_url}}">{{blog}}</a></p>
			<p>{{blog.description|safe}}</p>
		{%endfor%}
		<br />
		<div class="text-center">
			{% if page.has_previous %}
			<a href="/blogs/{{ page.previous_page_number }}/">&laquo;Previous Page</a>
			<span>&nbsp;&nbsp;&nbsp;</span>
			{% endif %}			
			{% if page.has_next %}
			<a href="/blogs/{{ page.next_page_number }}/">Next Page&raquo;</a>
			{% endif %}
		</div>
	</div>
{% endblock %}
